.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f4f4f4;
}

.login-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

.login-form h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form .login-link {
    margin-top: 20px;
    font-size: 14px;
}

.login-form .login-link a {
    color: #007bff;
    text-decoration: none;
}
.login-form .login-link a:hover {
    text-decoration: underline;
}

.role-selection .role{
    font-size: 1rem;
}
.role-selection {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-bottom: 10px;
}
.role-selection label{
    font-size: 1rem;
}
.role-selection input[type="radio"] {
    accent-color: #007bff; 
    transform: scale(1.5);
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}
.error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
/* Container for input and icon */
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: rgb(193, 185, 185);
}
.input-box i{
    position: relative;
    top: -40px;
    right: 105px;
    color: #665b5b;
    font-size: 25px;
    align-items: center;
    align-content: center;
    display: inline-block;
}
.input-field {
    text-indent: 40px;
}
.password-box {
    position: relative;
}

.password-box .input-field {
    width: 100%;
}

.password-box .toggle-password {
    position: absolute;
    right: 10px; 
    top: 46%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: #555;
    transition: color 0.3s ease;
}

.password-box .toggle-password:hover {
    color: #000; /* Darken icon on hover */
}
