.verify-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #086311;
    text-align: center;
}

.verify-email-container p {
    font-size: 18px;
    margin: 20px;
}
